@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

.App {
  text-align: center;
  background-color: var(--ctp-macchiato-crust);
  color: var(--ctp-macchiato-text);
}

.App-logo {
  height: 10vmin;
  padding-right: 50px;
  pointer-events: none;
}

.App-header {
  background-color: var(--ctp-macchiato-base);
  padding: 10px;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--ctp-macchiato-text);
  text-shadow: 0 0 6px var(--ctp-macchiato-lavender);
}

.App-link {
  color: var(--ctp-macchiato-sapphire);
}

.quest-card {
  background-color: var(--ctp-macchiato-base);
  border: 2px solid var(--ctp-macchiato-blue);
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;
  width: 20%;
  color: var(--ctp-macchiato-text);
  text-align: left;
  transition: transform 0.2s ease;
}

.quest-card h3 {
  margin: 0 0 10px 0;
  color: var(--ctp-macchiato-blue);
}

.quest-card p {
  margin: 5px 0;
}

.quest-type-header {
  background-color: var(--ctp-macchiato-base);
  border-bottom: 2px solid var(--ctp-macchiato-blue);
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

footer {
  background-color: var(--ctp-macchiato-base);
  border-bottom: 2px solid var(--ctp-macchiato-blue);
  align-items: center;
  text-align: left;
  padding: 10px;
}

