@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

.App {
  text-align: center;
  background-color: var(--ctp-macchiato-crust);
  color: var(--ctp-macchiato-text);
}

.App-header {
  background-color: var(--ctp-macchiato-base);
  padding: 16px;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--ctp-macchiato-text);
  text-shadow: 0 0 6px var(--ctp-macchiato-lavender);
}

.App-header h2 {
  padding-left: 40px;
}

.App-link {
  color: var(--ctp-macchiato-sapphire);
}

.quest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 8px auto;
}

.quest-card {
  background-color: var(--ctp-macchiato-base);
  border: 2px solid var(--ctp-macchiato-blue);
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto;
  width: 80%;
  color: var(--ctp-macchiato-text);
  text-align: left;
  transition: transform 0.2s ease;
}

.quest-card h3 {
  margin: 0 0 8px 0;
  color: var(--ctp-macchiato-blue);
}

.quest-card p {
  margin: 8px 0;
}

.quest-type-header {
  background-color: var(--ctp-macchiato-base);
  border-bottom: 2px solid var(--ctp-macchiato-blue);
  width: 80%;
  padding: 8px;
  margin: auto;
  margin-top: 8px;
}

footer {
  background-color: var(--ctp-macchiato-base);
  border-bottom: 2px solid var(--ctp-macchiato-blue);
  align-items: center;
  text-align: left;
  padding: 8px;
}

